/* FORM INPUT------------START------------ */
.testbox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;

}

.form {
    width: 50%;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 5px #ccc;
    margin: 2% 0;
    border-radius: 20px;

}

input,
select,
textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input {
    width: calc(100% - 10px);
    padding: 5px;
}

select {
    width: 100%;
    padding: 7px 0;
    background: transparent;
}

textarea {
    width: calc(100% - 6px);
}

.item {
    position: relative;
    margin: 10px 0;
}

.item:hover p,
.item:hover i {
    color: #095484;
}

input:hover,
select:hover,
textarea:hover {
    outline: gold;
}

.type-product label {
    display: block;
    margin: 5px 0;
}

.type-item input,
.type-item span {
    width: auto;
    vertical-align: middle;
}

.type-item input {
    margin: 0 5px 0 0;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

/* .item i,
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    font-size: 20px;
    color: #a9a9a9;
} */


[type="date"]::-webkit-calendar-picker-indicator {
    right: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.btn-block {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

button {
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    /* background-color: #095484; */
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
#cencle{
    background-color: #c4c4c4;
    color: #000;
    font-size: 16px;
}
#create01{
    background-color: black;
}
@media (min-width: 568px) {
    .name-item,
    .city-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .name-item input,
    .city-item input {
        width: calc(50% - 20px);
    }

    .city-item select {
        width: calc(50% - 8px);
    }
}
/* FORM INPUT------------END------------ */


/* CARD PAGE SELLER---------------START-------------------------------- */
#edit-view{
    margin: 2% 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#edit-view #add-name{
    padding: 10px;
    text-align: center;
    width: 10%;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 15px;
}
#product-view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#card-page-seller{
    margin: 1px 0;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    text-align: center;
    justify-content: space-around;
    width: 60%;
    height: 25vh;
    border: 2px solid black;
    background-color: white;
}
#card-page-seller:hover {
    background-color: black;
    color: white;
    transition: 1.5s;
}
#link-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#link-info a{
    cursor: pointer;
}
/* CARD PAGE SELLER---------------END-------------------------------- */